---
import "../styles/base.css";
import "../styles/typography.css";
import "../styles/spacing.css";
import "../styles/color.css";
import "../styles/animation.css";
import "../styles/input.css";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";
import { getEntry } from "astro:content";
import { sanityClient } from "sanity:client";
import ProjectsMenu from "../components/ProjectsMenu.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  largeLogo?: boolean;
}

const { title, description, largeLogo } = Astro.props;

const settings = await getEntry('settings', 'site-settings')
const pageTitle = `${title} | Trey Hardin`;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- HTML Meta Tags -->
    <title>{pageTitle}</title>
    <meta name="description" content={description}>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://treyhardin.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content="https://cdn.prod.website-files.com/5ee2d6359710d5894537c87a/5ef17dffbd315b4d5cfff1b4_portfolio-2020-5dc62e.webflow.io_.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="treyhardin.com">
    <meta property="twitter:url" content="https://treyhardin.com">
    <meta name="twitter:title" content={pageTitle}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content="https://cdn.prod.website-files.com/5ee2d6359710d5894537c87a/5ef17dffbd315b4d5cfff1b4_portfolio-2020-5dc62e.webflow.io_.png">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>
  <body>
    <ClientRouter />
    <Header 
      navigation={settings?.data.navigation}
      largeLogo={largeLogo}
    />
    <!-- <ProjectsMenu /> -->
    <slot />
    <!-- <Footer /> -->
  </body>
</html>

<script>
  import "../lib/lenis-provider.js";
  import 'lenis/dist/lenis.css'
</script>